nav {
  height: 120px;
  width: 100%;
  background-color:  darkgoldenrod;
  background-image: url('/images/little-pluses.png');
  color: #FFFFFF;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: space-between;
  
}

nav > span {
  font-family: 'Bungee', cursive;
  font-size: 30pt;
  margin-left: 30px;
}

nav img {
  height: 80px;
  width: 80px;
  margin-right: 20px;
  background-color: transparent;
  filter: drop-shadow(2px 2px 0px  grey);
  border-radius: 20px;
  border-width: 5px;
  border-style: solid;
  transition: filter 2s;
}

nav div {
  font-weight: 900;
  height: 100%;
  padding-right: 30px;
  cursor: pointer;
}

nav div span {
  overflow: hidden;
  white-space: nowrap;
}