#new-tweet {
  flex-direction: column;
}

form {
  flex-direction: column;
}

#tweet-text {
  background-color: transparent;
  height: 3em;
  border-width: 0;
  border-bottom-width: 3px;
  font-size: 14pt;
  color: #545149;
  resize: none;
  outline: none;
}

form div {
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  font-size: 14pt;
  font-weight: normal;
  margin-top: 1em;
}

form div button {
  background-color: #4056A1;
  color: #FFFFFF;
  border-width: 0;
  padding: 4px;
}