#tweet-feed {
  flex-direction: column;
}

article {
  margin: 50px 0px;
  padding: 20px;
  border-width: 5px;
  width: 100%;
  flex-direction: column;
  border-style: solid;
}

article header, div, footer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

article header {
  padding: 0px 20px 30px 0;
}

.author-name {
  font-weight: 300;
}

.author-account {
  color: #f4f1ec;
  font-weight: 600;
}

article p {
  font-size: 20pt;
  width: 100%;
  height: auto;
  padding-bottom: 35px;
  margin: 0px;
  border: 0;
  border-bottom-width: 5px;
  border-style: solid;
}
article header img {
  margin-right: 15px;
  width: 75px;
  height: 75px;
  background-color: inherit;
}

.date-ago {
  font-size: 13pt;
  padding-top: 10px;
}
